/* VARIABLES */
:root {
    --white: #ffffff;
    --purple-50: #faf5ff;
    --purple-800: hsl(271, 58%, 37%);
    --purple-900: hsl(271, 58%, 17%);
    --purple-200: #e9d5ff;
    --purple-300: #d8b4fe;

    --gray-900: #111827;
    --pading-block: 4em;

    --liner-gradient-1: linear-gradient(var(--purple-200), var(--purple-900));
}
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BASE */
body {
    font-family: 'Cairo', sans-serif;
    color: var(--purple-900);
    background-color: var(--purple-50);
}

/* RE-USEABLE STYLE START */
a {
    text-decoration: none;
    color: inherit;
}
.container {
    max-width: 520px;
    width: 100%;
    margin: 0 auto;
    padding: 2em;
}
.h1 {
    font-size: 3em;
    font-weight: 500;
    line-height: 1.5;
}
.h2 {
    font-size: 2.2em;
    font-weight: 500;
    line-height: 1.25;
}
.h3 {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.25;
}
.paragraph {
    font-size: 1em;
    font-weight: 400;
    opacity: 0.8;
}
.btn {
    padding: .5em 1em;
    border: .1em solid var(--purple-200);
    border-radius: .5em;
    background-color: var(--purple-200);
    font-weight: 700;
    transition: all .2s ease-in;
}
.btn:hover {
    background-color: transparent;
}
/* RE-USEABLE STYLE START */

/* NAV STYLE START */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .nav-brand {
    display: flex;
    align-items: center;
    gap: 1em;
}
.nav-brand .nav-logo {
    height: 2.5em;
    width: 2.5em;
    background: var(--liner-gradient-1);
    border-radius: .25em;
}
.nav-brand .nav-text {
    font-size: 2em;
    font-weight: 700;
}
.nav .btn-github {
    font-size: 2em;
    /* color: var(--gray-900); */
}
/* NAV STYLE END */


/* HERO STYLE START */
.hero {
    padding-block: var(--pading-block);
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    justify-items: flex-start;
}
/* HERO STYLE END */

/* STATS STYLE START */
.stats {
    padding-block: var(--pading-block);

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
}
.stats .ratings, .reviews {
    display: grid;
}
.stats .ratings .reviews, 
.stars {
    display: flex;
    align-items: center;
    gap: .25em;
}
/* STATS STYLE END */

/* FEATURE SECTION START */
.feature {
    padding-block: var(--pading-block);

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    background-color: var(--white);
    border-radius: .5em;
}
.card {
    padding: 1em;
    display: grid;
    gap: 1em;
}
.card .icon-box {
    height: 4em;
    width: 4em;
    background: var(--purple-200);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
}
.card .icon-box > .icon {
    font-size: 2em;
}
.card ul .card-list-item {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: .5em;
}
.card ul .card-list-item > .icon {
    background-color: var(--purple-200);
    border-radius: 50%;
    padding: .15em;
    margin-top: .3em;
} 
/* FEATURE SECTION END */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .container {
        max-width: 540px;
    }
    .hero {
        width: 70%;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .stats {
        grid-template-columns: repeat(3, 1fr);
    }
    .feature {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}